<div class="bg-background border-b flex px-4 sm:px-6 h-14">
   <div class="flex flex-row justify-between items-center w-full">
      <a class="flex items-center" href="/kode">
         <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="h-6 w-6">
            <polyline points="16 18 22 12 16 6"></polyline>
            <polyline points="8 6 2 12 8 18"></polyline>
         </svg>
         <span class="sr-only">kode-viewer</span>
      </a>
      <div class="flex">
         <a href="/auth/logout">
            <svg
               xmlns="http://www.w3.org/2000/svg"
               width="24"
               height="24"
               viewBox="0 0 24 24"
               fill="none"
               stroke="currentColor"
               stroke-width="2"
               stroke-linecap="round"
               stroke-linejoin="round"
               class="h-5 w-5"
               >
               <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4" />
               <polyline points="16 17 21 12 16 7" />
               <line x1="21" x2="9" y1="12" y2="12" />
            </svg>
         </a>
      </div>
   </div>
</div>
